body {
  font-family: 'Source Sans Pro', sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 10px;
    color: #dedede;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #ae9ede;
    display: block;
    font-size: 16px;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar-default {
	width: 100%;
  background-color: #695f86;
}

.navbar-header {
	width: 100%;
	text-align: center;
  padding: 5px;
}

.navbar-form {
  width: 100% !important;
  padding-bottom: 7px !important;
  padding-top: 12px !important;
}

.form-group {
  display: block !important;
}

.app-title {
  color: #fff !important;
  line-height: 40px;
  font-size: 38px;
  letter-spacing: 2px;
  font-weight: 600;
  text-decoration: none;
}

.app-title:hover,
.app-title:focus {
  text-decoration: none;
}

.burger-icon {
	font-size:30px;
	cursor:pointer;
	float: left;
  color: #fff;
  margin-left: 5px;
}

.source-container,
.topic-container {
	display: block;
	padding: 20px;
}

.row {
	-moz-column-width: 19em;
	-webkit-column-width: 19em;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	margin-top: 90px;
}

.item {
	display: inline-block;
	width: 100%;
    position: relative;
}

.well {
    padding: 0px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000;
}

.popularity-1,
.popularity-2 {
  height: 200px;
}

.popularity-3,
.popularity-4 {
  height: 230px;
}

.popularity-5,
.popularity-6 {
  height: 270px;
}

.popularity-7,
.popularity-8 {
  height: 370px;
}

.popularity-9,
.popularity-10 {
  height: 520px;
}

.img-container {
    background-color: #000;
}

.image {
    display: block;
    flex-shrink: 0;
    min-width: 100%;
    height: 100%;
    opacity: 0.8;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 115px;
  transition: 0.5s ease;
  overflow: hidden;
}

.item:hover .overlay {
  height: 100%;
}

.item:hover .summary {
  visibility: visible;
  opacity: 1;
}

.item:hover .bottom-summary {
  visibility: visible;
  opacity: 1;
}

.headline-text {
  color: #f3f3f3;
  padding: 1em;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.summary {
  color: #bfbfbf;
  padding: 1em;
  font-weight: 300;
  height: 40%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.bottom-summary {
  height: 20%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}

.filter-title {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 2px;
  color: #fff;
  margin: 5px;
}

.tag-clound {
  list-style: none;
}

input[type="checkbox"] {
  display: none;
}

ul {
  padding-left: 10px;
  padding-top: 20px;
}

li {
  display: inline-block;
  border: 2px solid #a1a1a1;
  padding: 5px 12px;
  background: #828080;
  border-radius: 25px;
  margin: 4px;
  font-size: 10px;
}

#pill:hover {
  cursor: pointer;
}

.pill-hover {
  background: #a1a1a1;
  color: #000; 
}

.pill-faded {
  border: none;
  background: #2d2d2d;
  color: #6d6a6a;
}

.top-sidenav {
  display: inline-block;
  width: 100%;
}

.logo {
  float: left;
  color: #ae9ede;
  font-size: 30px !important;
  padding-left: 20px !important;
  padding-top: 0px !important;
}

.source {
  padding: 1em;
  font-weight: 600;
  font-size: 16px;
  color: #ae9ede;
  float: left;
  display: inline-block;
}

.see-more {
  display: inline-block;
  float: right;
  font-style: italic;
  padding: 1em;
  color: #fff;
}

.see-more:hover {
  text-decoration: underline;
}

.hideRemoveBtn {
  display: none;
  padding: 2px;
}

.showRemoveBtn {
  display: inline-block;
  padding: 0px 2px;
}

