.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #bb4810;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar-default {
	width: 100%;
    background-color: #bb4810;
}

.navbar-header {
	width: 100%;
	text-align: center;
    padding: 5px;
}

.app-title {
    color: #fff !important;
    line-height: 40px;
    font-size: 20px;
}

.burger-icon {
	font-size:30px;
	cursor:pointer;
	float: left;
    color: #fff;
    margin-left: 5px;
}

.source-container,
.topic-container {
	display: block;
	padding: 2em;
}

.row {
	-moz-column-width: 19em;
	-webkit-column-width: 19em;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	margin-top: 70px;
}

.item {
	display: inline-block;
	width: 100%;
    position: relative;
}

.well {
    padding: 0px;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.img-container {
    background-color: #000;
}

.image {
    display: block;
    flex-shrink: 0;
    min-width: 100%;
    height: 100%;
    opacity: 0.8; 
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 25%;
  transition: 1s ease;
  overflow: hidden;

}

.item:hover .overlay {
  height: 100%;
}

.headline-text {
  color: #f3f3f3;
  padding: 1em;
  text-align: center;
  font-size: 18px;
}

.summary {
    color: #bfbfbf;
    padding: 1em;
}
