.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.navbar-default {
	position: fixed;
	width: 100%;
}

.navbar-header {
	width: 100%;
	text-align: center;
}

.navbar-brand {
	float: none;
}

.burger-icon {
	font-size:30px;
	cursor:pointer;
	float: left;
}

.source-container,
.topic-container {
	display: block;
	padding: 2em;
}

.row {
	-moz-column-width: 19em;
	-webkit-column-width: 19em;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
	margin-top: 70px;
}

.item {
	display: inline-block;
	width: 100%;
    position: relative;
}


.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 25%;
  transition: 1s ease;
  overflow: hidden;

}

.item:hover .overlay {
  height: 100%;
}

.headline-text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
