<!DOCTYPE html>
<html lang="en" ng-app="myApp" class="no-js">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NEWSNOW</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link data-require="bootstrap-css@*" data-semver="3.0.0" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/menu.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="about/about.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>

  <body ng-controller="MainCtrl">

  <div id="o-wrapper" class="o-wrapper">
    <main class="o-content">
      <div class="o-container">
          <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
          <a class="app-title" href="#">NEWSNOW</a>
          <span id="c-button--push-left" class="burger-icon">&#9776;</span>
        </div>
      </nav>
      <div ng-view></div>
      </div>
    </main>
  </div>

  <nav id="c-menu--push-left" class="sidenav c-menu c-menu--push-left">
    <div class="top-sidenav">
      <span class="logo">NEWSNOW</span>
      <button class="c-menu__close">&times;</button>
    </div>

    <a class="filter-title" href="#!/home">HOME</a>
    <a class="filter-title" href="#!/about">ABOUT</a>

    <div class="source-container" ng-controller="sourceController">
      <span class="filter-title">SOURCES</span>
      <ul class="tag-cloud" style="list-style:none;">
        <li ng-repeat="source in allSources" id="pill" ng-click="toggleSource(source.id)"
        ng-class="{'pill-faded': !sources.hasOwnProperty(source.id)}">
          <span id="remove" class="hideRemoveBtn">&#10005;</span>{{source.name}}</li>
      </ul>
    </div>

    <!-- UNCOMMENT BELOW ONCE FIGURED OUT HOW TO IMPLEMENT TOPICS -->

<!--     <div class="topic-container" ng-controller="topicController">
      <span class="filter-title">TOPICS</span>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Topic">
        </div>
      </form>
      <ul class="tag-cloud">
        <li ng-repeat="topic in topics" id="pill"><span id="remove" class="hideRemoveBtn">&#10005;</span>{{topic}}</li>
      </ul>
    </div> -->
  </nav>

  <div id="c-mask" class="c-mask"></div>

  <!-- Script Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <!-- Angular -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/menu.js"></script>
  <script src="js/buttons.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/articleController.js"></script>
  <script src="js/sourceController.js"></script>
  <script src="js/topicController.js"></script>
  <script src="home/home.js"></script>
  <script src="js/util.js"></script>
  <script src="about/about.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script data-require="ui-bootstrap@0.5.0" data-semver="0.5.0" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.6.0.js"></script>

  <script>
    var pushLeft = new Menu({
      wrapper: '#o-wrapper',
      type: 'push-left',
      menuOpenerClass: '.c-button',
      maskId: '#c-mask'
    });

    var pushLeftBtn = document.querySelector('#c-button--push-left');

    pushLeftBtn.addEventListener('click', function(e) {
      e.preventDefault;
      pushLeft.open();
    });

  </script>

</body>
</html>
